@use "../../global/import"as *;

@include pc{
    .c-btn-back{
        width: 200px;
        padding-left: 30px;
        font-size: 24px;
        border-bottom: 2px solid #333;
        position: relative;
        
        &::before{
            position: absolute;
            content: "";
            background: url(../../assets/img/icon/icon-arrow-back.svg) no-repeat;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:hover{
            background-color: #c11515;
        }
    }
}

