@use "../../global/import"as *;

@include pc{
    .c-btn{
        width: 280px;
        padding: 20px 0;
        color: #fff;
        text-align: center;
        background: #D2001A;
        border-radius: 6px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            background: url(../../assets/img/icon/icon-arrow-btn.svg) no-repeat;
            width: 12px;
            height: 12px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }
}
