@use "../../global/import"as *;

@include pc{
    .c-title-lv1{
        margin-bottom: 35px;
        font-size: 38px;

        &--large{
            margin-bottom: 30px;
            font-size: 38px;
        }
    }
    
    .c-title-lv2{
        margin-bottom: 20px;
        font-size: 30px;

        &--large{
            font-size: 40px;
            margin-bottom: 30px;
        }
    }

    .c-title-lv3{
        padding: 0 0 0 8px;
        margin: 60px 0 10px;
        font-size: 24px;
        font-family: "Montserrat", sans-serif;

        &:first-child{
            margin-top: 0;
        }

        &--large{
            padding: 0;
            margin-bottom: 20px;
            font-size: 30px;
        }

        &--rikonJP{
            border-left: 4px solid #feb9b9;
        }
        &--rikonEN{
            border-left: 4px solid #115173;
        }
        &--bkanJP{
            border-left: 4px solid #759E65;
        }
    }
}

@include tab{
    .c-title-lv1{
        margin-bottom: 30px;
        font-size: 36px;

        &--large{
            margin-bottom: 30px;
            font-size: 38px;
        }
    }
    
    .c-title-lv2{
        margin-bottom: 10px;
        font-size: 28px;

        &--large{
            font-size: 34px;
        }
    }

    .c-title-lv3{
        padding: 0 0 0 8px;
        margin: 40px 0 10px;
        font-size: 23px;

        &:first-child{
            margin-top: 0;

        }
        &--large{
            padding: 0;
            margin-bottom: 20px;
            font-size: 27px;
        }
        &--rikonJP{
            border-left: 4px solid #feb9b9;
        }
        &--rikonEN{
            border-left: 4px solid #115173;
        }
        &--bkanJP{
            border-left: 4px solid #759E65;
        }
    }
}

@include sp{
    .c-title-lv1{
        margin-bottom: 30px;
        font-size: 38px;

        &--large{
            font-size: 43px;
            margin-bottom: 5px;
        }
    }
    
    .c-title-lv2{
        margin-bottom: 8px;
        font-size: 26px;

        &--large{
            font-size: 30px;
        }
    }
    .c-title-lv3{
        padding: 0 0 0 10px;
        margin: 40px 0 10px;
        font-size: 19px;
        
        &:first-child{
            margin-top: 0;
        }

        &--large{
            padding: 0;
            margin-bottom: 20px;
            font-size: 30px;
        }
        &--rikonJP{
            border-left: 4px solid #feb9b9;
        }
        &--rikonEN{
            border-left: 4px solid #115173;
        }
        &--bkanJP{
            border-left: 4px solid #759E65;
        }
    }
}



