@use "../../global/import"as *;


.u-box{
    border: 1px solid #d10d0c;
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
.u-box-title{
    color: #d10d0c;
    margin-bottom: 10px;
}
