@use "../../global/import"as *;


.u-bg-primary{
    background-color: #9e0c0c
}
.u-bg-secondary{
    background-color: #50507C;
}
.u-bg-gray{
    background-color: #D6D6D6;
}
.u-bg-black{
    background-color: #333;
}

