@use "../../global/import"as *;

.u-list-disc {
    margin-left: 15px;
    position: relative;
}

.u-list-disc::before {
    content: "•"; 
    color: #333;
    font-size: 16px; 
    margin-right: 8px; 
    position: absolute;
    left: -15px;
}

.u-list-disc--white::before {
    content: "•"; 
    color: #fff;
    font-size: 16px; 
    margin-right: 8px; 
    position: absolute;
    left: -15px;
}



