@use "../../global/import"as *;

.u-list-disc {
    margin-left: 14px;
    position: relative;
}

.u-list-disc::before {
    content: "•";
    color: #1a1b1f;
    font-size: 20px;
    margin-right: 12px;
    position: absolute;
    left: -14px;
}

.u-list-disc--white::before {
    content: "•";
    color: #fff;
    font-size: 20px;
    margin-right: 12px;
    position: absolute;
    left: -14px;
}



