@use "../../global/import"as *;

.u-center{
    text-align: center;
}
.u-left{
    text-align: left;
}
.u-right{
    text-align: right;
}
.u-bold{
    font-weight: bold;
}
.u-primary{
    color: #d2001a;
}
.u-secondary{
    color: #fee330;
}

@include pc{
    .u-txtLarge{
        font-size: 24px;
    }
    .u-txtMedium{
        font-size: 18px;
    }
    .u-txtSmall{
        font-size: 14px;
    }
}

@include tab{
    .u-txtLarge{
        font-size: 24px;
    }
    .u-txtMedium{
        font-size: 18px;
    }
    .u-txtSmall{
        font-size: 14px;
    }
}

@include sp{
    .u-txtLarge{
        font-size: 19px;
    }
    .u-txtMedium{
        font-size: 17px;
    }
    .u-txtSmall{
        font-size: 12px;
    }
}

