@use "../../global/import"as *;

.u-center{
    text-align: center;
}
.u-left{
    text-align: left;
}
.u-right{
    text-align: right;
}
.u-bold{
    font-weight: bold;
}
.u-primary{
    color: #D10C0C;
}
.u-secondary{
    color: #50507C;
}
.u-third{
    color: #DDCAC7;
}
.u-white{
    color: #fff;
}
.u-fc-rikonJP{
    color: #FEB9B9;
}
.u-fc-rikonEN{
    color: #115173;
}
.u-fc-bkanJP{
    color: #759E65
}
.u-fc-syohin{
    color: #b21f31;
}

@include pc{
    .u-txtLarge{
        font-size: 24px;
    }
    .u-txtMedium{
        font-size: 18px;
    }
    .u-txtSmall{
        font-size: 14px;
    }
    .u-center-pc{
        text-align: center;
    }
}

@include tab{
    .u-txtLarge{
        font-size: 24px;
    }
    .u-txtMedium{
        font-size: 18px;
    }
    .u-txtSmall{
        font-size: 14px;
    }
    .u-center-tab{
        text-align: center;
    }
}

@include sp{
    .u-txtLarge{
        font-size: 18px;
    }
    .u-txtMedium{
        font-size: 17px;
    }
    .u-txtSmall{
        font-size: 12px;
    }
    .u-center-sp{
        text-align: center;
    }
}

