@use "../global/import"as *;

@include pc {
    .l-header{
        width: 100%;
        background: #fff;
        position: fixed;
        z-index: 100;

        &__wrap{
            max-width: 1190px;
            height: 60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--small{
                max-width: 1000px;
            }
        }

        &__logo{
            width: 135px;
        }
    } 
}

@include tab {
    .l-header{
        width: 100%;
        background: #fff;
        position: fixed;
        z-index: 100;

        &__wrap{
            max-width: 720px;
            height: 60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
                
        &__logo{
            width: 130px;
        }
    } 
}

@include sp {
    .l-header{
        width: 100%;
        background: #fff;
        position: fixed;
        z-index: 100;

        &__wrap{
            height: 75px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            box-shadow: 1px 1px 10px rgba(51,51,51,0.3);
        }

        &__logo{
            width: 100px;
        }
    } 
}