@use "../global/import"as *;

@include pc{

    .l-container{
        max-width: 1400px;
        margin: 0 auto;
    }
    .l-containerSmall{
        max-width: 700px;
        margin: 0 auto;
    }
    .l-containerWorks{
        max-width: 1000px;
        margin: 0 auto;
    }
}

@include tab{

}

@include sp{

}
