@use "../global/import"as *;

p{
    font-weight: 300;
}

p + p{
    margin-bottom: 20px;
}

dl{
    margin-bottom: 20px;
}

dl + img {
    margin-bottom: 50px;
}

a{
    &:hover{
        color: #d2001a;
        transition: all 0.5s;
        cursor: pointer;
    }
}

@include pc{
    section{
        margin-bottom: 100px;
    }

    .l-container{
        max-width: 1190px;
        margin: 0 auto;

    }
    .l-containerSmall{
        max-width: 700px;
        margin: 0 auto;
    }
    .l-containerWorks{
        max-width: 1000px;
        margin: 0 auto;
    }

    p{
        font-size: 16px;
        line-height: 1.8;
    }
}

@include tab{
    section{
        margin-bottom: 70px;
    }

    .l-container{
        max-width: 720px;
        margin: 0 auto;

    }
    .l-containerSmall{
        max-width: 600px;
        margin: 0 auto;
    }
    .l-containerWorks{
        max-width: 720px;
        margin: 0 auto;
    }
    p{
        font-size: 15px;
        line-height: 1.5;
    }
}

@include sp{
    section{
        margin-bottom: 100px;
    }

    .l-container{
        max-width: 355px;
        margin: 0 auto;

    }
    .l-containerSmall{
        max-width: 300px;
        margin: 0 auto;
    }
    .l-containerWorks{
        max-width: 355px;
        margin: 0 auto;
    }
    p{
        font-size: 14px;
    }
}
