@use "../global/import"as *;

@include pc {
    .l-nav{
        &__links{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap:  0 20px;
        }
        &__icon{
            width: 23px;

            &--small{
                width: 21px;
            }
        }
    }
}

@include tab {
    .l-nav{
        &__links{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap:  0 20px;
        }
        &__icon{
            width: 23px;

            &--small{
                width: 21px;
            }
        }
    }
}

@include sp {
    .l-nav{
        &__links{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap:  0 20px;
        }
        &__icon{
            width: 23px;
            
            &--small{
                width: 21px;
            }
        }
    }
}