@use "../global/import"as *;

@include pc {
    .l-nav{
        &__links{
            display: flex;
            align-items: center;
            gap:  0 20px;
        }
    }
}

@include tab {
    .l-nav{
        &__links{
            display: flex;
            align-items: center;
            gap:  0 20px;
        }
    }
}

@include sp {
    .l-nav{
        &__links{
            display: flex;
            align-items: center;
            gap:  0 30px;
        }
    }
}