@use "../../global/import"as *;

@include pc {
    .p-about{
        &__features{
            padding: 20px 0;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
        }
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 20px;
        }
        &__item{
            position: relative;
            cursor: pointer;
            display: inline-block;

            &:hover{
                display: inline-block;
                top: -70px;
                left: -30px;
            }
        }
        &__desc{
            display: none;
            position: absolute;
            padding: 10px;
            font-size: 12px;
            line-height: 1.6em;
            color: #fff;
            border-radius: 5px;
            background: #000;
            width: 100px;

            &::before{
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                border: 15px solid transparent;
                border-top: 15px solid #000;
                margin-left: -15px;
            }
        }
        &__icon{
            width: 40px;
            &--large{
                width: 45px;
            }
        }
    }
}

@include tab {
    .p-about{
        &__features{
            padding: 20px 0;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
        }
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 20px;
        }
        &__icon{
            width: 40px;
            &--large{
                width: 45px;
            }
        }
        &__disc{
            display: none;

            &:hover{
                display: block;
                opacity: 0.6s;
            }
        }

    }
}

@include sp {
    .p-about{
        &__features{
            padding: 20px 0;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
        }
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px 20px;

            &--jc{
                justify-content: center;
            }

        }
        &__icon{
            width: 38px;
            &--large{
                width: 45px;
            }
        }
        &__disc{
            display: none;

            &:hover{
                display: block;
                opacity: 0.6s;
            }
        }

    }
}


