@use "../../global/import"as *;

p{
    opacity: .6;
}

@include pc{
    .p-about{
        &__grid{
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            display: grid;
        }

        &__intro{
            grid-column-gap: 63px;
            grid-row-gap: 30px;
            grid-template: ". ." / 2fr 2fr;
            grid-auto-columns: 1fr;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 140px;
            display: grid;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-img{
                grid-area: 1 / 2 / 2 / 3;
                align-self: start;
                justify-self: end;
            }
        }

        &__skills{
            grid-column-gap: 80px;
            grid-row-gap: 30px;
            grid-template: ". ." / 1fr 1fr;
            margin-bottom: 140px;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-group{
                grid-area: 1 / 2 / 2 / 3;
            }

            &__items{
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                grid-template-rows: auto;
                grid-template-areas: ". .";
                padding-top: 10px;

                &--left{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--right{
                    grid-area: 1 / 2 / 2 / 3;
                }

                &--name{
                    margin-bottom: 10px;
                    font-size: 30px;
                    line-height: 46px;
                }
            }
        }


        &__personal{
            grid-column-gap: 80px;
            grid-row-gap: 20px;
            grid-template-rows: auto auto;
            grid-template-areas:
                ". ."
                ". Area";
            margin-bottom: 110px;

            &-items{
                margin-bottom: 25px;
            }
        }

        &__hobbies{

            &-title{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-list{
                grid-area: 2 / 1 / 3 / 2;
            }
        }

        &__language{
            &-title{
                grid-area: 1 / 2 / 2 / 3;
            }

            &-list{
                grid-area: Area;
            }
        }
    }
}

@include tab{
    .p-about{
        &__grid{
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            display: grid;
        }

        &__intro{
            grid-column-gap: 63px;
            grid-row-gap: 30px;
            grid-template: ". ." / 2fr 2fr;
            grid-auto-columns: 1fr;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 140px;
            display: grid;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-img{
                grid-area: 1 / 2 / 2 / 3;
                align-self: start;
                justify-self: end;
            }
        }

        &__skills{
            grid-column-gap: 80px;
            grid-row-gap: 30px;
            grid-template: ". ." / 1fr 1fr;
            margin-bottom: 140px;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-group{
                grid-area: 1 / 2 / 2 / 3;
            }

            &__items{
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                grid-template-rows: auto;
                grid-template-areas: ". .";
                padding-top: 10px;

                &--left{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--right{
                    grid-area: 1 / 2 / 2 / 3;
                }

                &--name{
                    margin-bottom: 10px;
                    font-size: 30px;
                    line-height: 46px;
                }
            }

            &__personal{
                grid-column-gap: 80px;
                grid-row-gap: 20px;
                grid-template-rows: auto auto;
                grid-template-areas:
                    ". ."
                    ". Area";
                margin-bottom: 110px;

                &-items{
                    margin-bottom: 25px;
                }
            }

            &__hobbies{

                &-title{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &-list{
                    grid-area: 2 / 1 / 3 / 2;
                }
            }

            &__language{
                &-title{
                    grid-area: 1 / 2 / 2 / 3;
                }

                &-list{
                    grid-area: Area;
                }
            }
        }
    }
}

@include sp{
    .p-about{
        &__grid{
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            display: grid;
        }

        &__intro{
            grid-column-gap: 63px;
            grid-row-gap: 50px;
            grid-auto-columns: 1fr;
            grid-template:
            "."
            "." / 1fr;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 140px;
            display: grid;
            text-align: center;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-img{
                grid-area: 1 / 2 / 2 / 3;
                align-self: start;
                justify-self: end;
            }
        }

        &__skills{
            width: 100%;
            max-width: none;
            grid-template-columns: 1fr;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-group{
                grid-area: 1 / 2 / 2 / 3;
            }

            &__items{
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                grid-template-rows: auto;
                grid-template-areas: ". .";
                padding-top: 10px;

                &--left{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--right{
                    grid-area: 1 / 2 / 2 / 3;
                }

                &--name{
                    margin-bottom: 10px;
                    font-size: 30px;
                    line-height: 46px;
                }
            }

            &__personal{
                width: 100%;
                max-width: none;

                &-items{
                    margin-bottom: 25px;
                }
            }

            &__hobbies{

                &-title{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &-list{
                    grid-area: 2 / 1 / 3 / 2;
                }
            }

            &__language{
                &-title{
                    grid-area: 1 / 2 / 2 / 3;
                }

                &-list{
                    grid-area: Area;
                }
            }
        }
    }
}