@use "../../global/import"as *;

p{
    opacity: .6;
}

@include pc{
    p{
        font-size: 14px;
    }
    .p-about{
        &__grid{
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            display: grid;
        }

        &__intro{
            grid-column-gap: 63px;
            grid-row-gap: 30px;
            grid-template: ". ." / 2fr 2fr;
            grid-auto-columns: 1fr;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 140px;
            display: grid;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-img{
                grid-area: 1 / 2 / 2 / 3;
                align-self: start;
                justify-self: end;
            }
        }

        &__skills{
            grid-column-gap: 80px;
            grid-row-gap: 30px;
            grid-template: ". ." / 1fr 1fr;
            margin-bottom: 140px;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-group{
                grid-area: 1 / 2 / 2 / 3;
            }

            &-items{
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                grid-template-rows: auto;
                grid-template-areas: ". .";
                padding-top: 10px;

                &--left{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--right{
                    grid-area: 1 / 2 / 2 / 3;
                }

                &--name{
                    margin-bottom: 10px;
                    font-size: 30px;
                    line-height: 46px;
                }
            }
        }


        &__personal{
            grid-column-gap: 80px;
            grid-row-gap: 20px;
            grid-template-rows: auto auto;
            grid-template-areas:
                ". ."
                ". Area";
            margin-bottom: 110px;

            &-items{
                margin-bottom: 25px;
            }
        }

        &__hobbies{

            &-title{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-list{
                grid-area: 2 / 1 / 3 / 2;
                margin-top: 20px;
            }
        }

        &__language{
            &-title{
                grid-area: 1 / 2 / 2 / 3;
            }

            &-list{
                grid-area: Area;
                margin-top: 20px;
            }
        }
    }
}

@include tab{
    p{
        font-size: 16px;
    }
    .p-about{
        &__grid{
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            display: grid;
        }

        &__intro{
            grid-column-gap: 63px;
            grid-row-gap: 50px;
            grid-template:
                "."
                "." / 1fr;
            grid-auto-columns: 1fr;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 140px;
            text-align: center;
            display: grid;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            &-img{
                grid-area: 2 / 1 / 3 / 2;
                align-self: start;
                justify-self: end;
            }
        }

        &__skills{
            width: 80%;
            grid-row-gap: 50px;
            text-align: center;
            grid-template:
                "."
                "." / 1fr;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 140px;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-group{
                grid-area: 2 / 1 / 3 / 2;
            }

            &-items{
                grid-column-gap: 30px;
                grid-row-gap: 0px;
                grid-template:
                    "."
                    "." / 1fr;
                padding-top: 0;

                &--left{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--right{
                    grid-area: 2 / 1 / 3 / 2;
                }

                &--name{
                    font-size: 24px;
                    line-height: 42px;
                }
            }
        }

        &__personal{
            width: 80%;
            text-align: center;
            grid-template:
                "."
                "."
                "."
                "." / 1fr;
            margin-left: auto;
            margin-right: auto;
            display: block;

            &-items{
                margin-bottom: 25px;
            }
        }

        &__hobbies{

            &-title{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-list{
                grid-area: 2 / 1 / 3 / 2;
                margin-top: 20px;
            }
        }

        &__language{
            &-title{
                grid-area: 1 / 2 / 2 / 3;
            }

            &-list{
                grid-area: Area;
                margin-top: 20px;
            }
        }
    }
}

@include sp{
    p{
        font-size: 16px;
    }
    .p-about{
        &__grid{
            grid-row-gap: 16px;
            grid-column-gap: 16px;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            display: grid;
        }

        &__intro{
            grid-column-gap: 63px;
            grid-row-gap: 50px;
            grid-template:
                "."
                "." / 1fr;
            grid-auto-columns: 1fr;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 140px;
            text-align: center;
            display: grid;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            &-img{
                grid-area: 2 / 1 / 3 / 2;
                align-self: start;
                justify-self: end;
            }
        }

        &__skills{
            grid-column-gap: 80px;
            grid-row-gap: 50px;
            grid-template:
                "."
                "." / 1fr;
            text-align: center;
            margin-bottom: 140px;

            &-text{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-group{
                grid-area: 2 / 1 / 3 / 2;
            }

            &-items{
                grid-column-gap: 30px;
                grid-row-gap: 0px;
                grid-template:
                    "."
                    "." / 1fr;
                padding-top: 0;

                &--left{
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--right{
                    grid-area: 2 / 1 / 3 / 2;
                }

                &--name{
                    font-size: 24px;
                    line-height: 42px;
                }
            }
        }

        &__personal{
            text-align: center;
            grid-template:
                "."
                "."
                "."
                "." / 1fr;
            display: block;
            margin-bottom: 110px;

            &-items{
                margin-bottom: 25px;
            }
        }

        &__hobbies{

            &-title{
                grid-area: 1 / 1 / 2 / 2;
            }

            &-list{
                grid-area: 2 / 1 / 3 / 2;
                margin-top: 20px;
            }
        }

        &__language{
            &-title{
                grid-area: 1 / 2 / 2 / 3;
            }

            &-list{
                grid-area: Area;
                margin-top: 20px;
            }
        }
    }
}