@use "../../global/import"as *;

@include pc {
    .p-backGround{
        position: relative;
        overflow: hidden;
        
        &__sakura{
            position: absolute;
            bottom: 130px;
            left: -220px;
            width: 500px;
            height: 500px;
            background: url(../../assets/img/common/bg-sakura.png) no-repeat;
            background-size: contain;
        }
    }
}

@include tab {
    .p-backGround{
        position: relative;
        overflow: hidden;

        &__sakura{
            position: absolute;
            bottom: 140px;
            left: -245px;
            width: 350px;
            height: 350px;
            background: url(../../assets/img/common/bg-sakura.png) no-repeat;
            background-size: contain;
        }
    }
}


@include sp {
    .p-backGround{
        position: relative;
        overflow: hidden;

        &__sakura{
            position: absolute;
            bottom: 157px;
            left: -241px;
            width: 200px;
            height: 200px;
            background: url(../../assets/img/common/bg-sakura.png) no-repeat;
            background-size: contain;  
        }
    }
}

