@use "../../global/import"as *;

@include pc {
    .p-backGround{
        overflow: hidden;
        background: url(../../assets/img/common/myface.png) no-repeat;
        background-attachment: fixed;
        background-size: 50%;
        background-position: center;
    }
}

@include pc {
    .p-backGround{
        overflow: hidden;
        background: url(../../assets/img/common/myface.png) no-repeat;
        background-attachment: fixed;
        background-size: 50%;
        background-position: center;
    }
}


@include pc {
    .p-backGround{
        overflow: hidden;
        background: url(../../assets/img/common/myface.png) no-repeat;
        background-attachment: fixed;
        background-size: 50%;
        background-position: center;
    }
}

