@use "../../global/import"as *;

@include pc {
    .p-backGround{
        overflow: hidden;
        background: url(../../assets/img/common/myface.png) no-repeat;
        background-attachment: fixed;
        background-size: 30%;
        background-position: center top 30%;
    }
}

@include tab {
    .p-backGround{
        overflow: hidden;
        background: url(../../assets/img/common/myface.png) no-repeat;
        background-attachment: fixed;
        background-size: 36%;
        background-position: center top 10%;
    }
}



@include sp {
    .p-backGround{
        overflow: hidden;
        background: url(../../assets/img/common/myface.png) no-repeat;
        background-attachment: fixed;
        background-size: 30%;
        background-position: center top 30%;
    }
}


