@use "../../global/import"as *;

@include pc {
    .p-contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
        margin-bottom: 25px;

        &__icon{
            width: 25px;
            height: 25px;
        }
    }
}

@include tab {
    .p-contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        margin-bottom: 20px;

        &__icon{
            width: 18px;
            height: 18px;
        }
    }
}

@include sp {
    .p-contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        margin-bottom: 20px;

        &__icon{
            width: 18px;
            height: 18px;
        }
    }
}

