@use "../../global/import"as *;

@include pc {
    .p-details-wrap{
        display: flex;
        justify-content: space-between;

        &__item:nth-child(2){
            width: 65%;
        }
    }
}

@include tab {
    .p-details-wrap{
        display: flex;
        justify-content: space-between;

        &__item:nth-child(1){
            max-width: 30%;
        }
        &__item:nth-child(2){
            width: 65%;
        }
    }
}




