@use "../../global/import"as *;

@include pc {
    .p-details-wrap{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &__item:first-child{
            width: 35%;
        }
        &__item:nth-child(2){
            width: 65%;
        }
    }
}




