@use "../../global/import"as *;

@include pc {
    .p-mainVisual{
        padding: 15vh 0 10vh;
        color: #fff;

        &__wrap{
            position: absolute;
            top: -14vh;
            left: -10vw;
            width: 875px;
            z-index: -1;
        }

        &__text-wrap{
            display: flex;
            justify-content: center;
            font-family: 'Sora', sans-serif;
        }
    }
}

@include tab {
    .p-mainVisual{
        padding-top: 30vh;
        background: url(../../assets/img/top/bg-mainVisual.png) no-repeat;
        background-size: contain;
        position: relative;
        background-position: bottom 20% right;

        &__wrap{
            position: absolute;
            top: 17vh;
            left: 41vw;
            width: 200px;
            z-index: -1;
        }
        &__text{
            position: relative;
            top: -6vh;
            font-family: 'Sora', sans-serif;
        }
    }
}

@include sp {
    .p-mainVisual{
        padding-top: 20vh;
        background: url(../../assets/img/top/bg-mainVisual.png) no-repeat;
        background-size: contain;
        position: relative;
        background-position: bottom 20% right 20%;

        &__wrap{
            position: absolute;
            top: 15vh;
            left: 37vw;
            width: 200px;
            z-index: -1;
            font-family: 'Sora', sans-serif;
        }
    }
}


