@use "../../global/import"as *;

@include pc {
    .p-mainVisual{
        padding: 15vh 0;
        margin-bottom: 0;

        &__wrap{
            position: absolute;
            top: -2vh;
            left: 20vw;
            width: 780px;
            z-index: -1;
        }
        &__text-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Sora",sans-serif;
        }
        &__text{
            font-size: 14px;
            font-weight: 300;
            text-align: left;
        }
    }
}

@include tab {
    .p-mainVisual{
        padding: 10vh 0;
        margin-bottom: 0;

        &__wrap{
            position: absolute;
            top: -2vh;
            left: 20vw;
            width: 780px;
            z-index: -1;
        }
        &__text-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Sora",sans-serif;
        }
        &__text{
            font-size: 14px;
            font-weight: 300;
            text-align: left;
        }
    }
}

@include sp {
    .p-mainVisual{
        padding: 20vh 0 5vh;
        margin-bottom: 0;

        &__wrap{
            position: absolute;
            top: -2vh;
            left: 20vw;
            width: 780px;
            z-index: -1;
        }
        &__text-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Sora",sans-serif;
        }
        &__text{
            font-size: 14px;
            font-weight: 300;
            text-align: left;
        }
    }
}


