@use "../../global/import"as *;

@include pc {
    .p-mainVisual{
        display: flex;
        align-items: center;
        padding-top: 100px;

        &__text{
            width: 100%;
        }
    }
}

@include tab {
    .p-mainVisual{
        display: flex;
        align-items: center;
        padding-top: 80px;

        &__text{
            width: 100%;
        }
    }
}

@include sp {
    .p-mainVisual{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;

        &__text{
            width: 100%;
        }
    }
}



