@use "../../global/import"as *;

@include pc {
    .p-uiDesign{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 30px
        }
        &__item{
            width: calc(100% / 6 - 33px);
        }
    
    }
}




