@use "../../global/import"as *;

@include pc {
    .p-uiDesign{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        &__item{
            width: calc(100% / 6 - 10px);
        }
    
    }
}

@include tab {
    .p-uiDesign{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        &__item{
            width: calc(100% / 6 - 10px);
        }
    
    }
}






