@use "../../global/import"as *;

@include pc {
    .p-work{
        &__top{
            padding-top: 150px;
        }
        &__mainVisual{
            width: 800px;
            margin: 0 auto;
        }
        &__h1{
            width: 800px;
            margin: 0 auto;
            text-align: center;
        }
    
    }
}

@include tab {
    .p-work{
        &__top{
            padding-top: 130px;
        }
        &__mainVisual{
            width: 80%;
            margin: 0 auto;
        }
    
    }
}

@include sp {
    .p-work{
        &__top{
            padding-top: 100px;
        }
        &__mainVisual{
            width: 80%;
            margin: 0 auto;
        }
    }
}




