@use "../../global/import"as *;

@include pc {
    .p-work-related{

        &__wrap{
            display: flex;
            justify-content: center;
        }
        &__img{
            width: 520px;
        }
        &__box{
            width: 480px;
            height: 358px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__text{
            font-weight: bold;
        }
    }
}

@include tab {
    .p-work-related{

        &__wrap{
            display: flex;
            justify-content: center;
        }
        &__img{
            width: 380px;
        }
        &__box{
            width: 340px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            text-align: center;
        }
        &__text{
            font-weight: bold;
        }
    }
}

@include sp {
    .p-work-related{
        &__box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        &__text{
            font-weight: bold;
        }
    }
}

