@use "../../global/import"as *;

@include pc {
    .p-work-others{
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__img{
            width: 450px;
            border-radius: 4px 4px 0 0;
        }
        &__box{
            width: 450px;
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 4px 4px;
        }
        &__text{
            font-weight: bold;
        }
    }
}

@include tab {
    .p-work-others{
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__img{
            width: 350px;
            border-radius: 4px 4px 0 0;
        }
        &__box{
            width: 350px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 0 0 4px 4px;
        }
        &__text{
            font-weight: bold;
        }
    }
}


@include sp {
    .p-work-others{

        &__wrap{
            display: flex;
            flex-direction: column;
            gap: 40px 0;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__img{
            border-radius: 4px 4px 0 0;
        }
        &__box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 0 0 4px 4px;
        }
        &__text{
            font-weight: bold;
        }
    }
}



