@use "../../global/import"as *;

@include pc {
    .p-webDesign{
        &__wrap{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__item{
            width: calc(100% / 4 - 10px);
        }
    
    }
}

@include tab {
    .p-webDesign{
        &__wrap{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &__item{
            width: calc(100% / 4 - 10px);
        }
    
    }
}





