@use "../../global/import"as *;

@include pc {
    .p-work{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        &__item{
            width: calc(100% / 4 - 20px);
        }

        &__text{
            font-size: 18px;
            font-weight: 700;
            line-height: 1.3;
        }
    
    }
}

@include tab {
    .p-work{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        &__item{
            width: calc(100% / 4 - 10px);
        }
    
    }
}





