@use "../../global/import"as *;

@include pc {
    .p-work-related{
        &__wrap{
            display: flex;
            justify-content: center;
        }
        &__img{
            width: 520px;
            border-radius: 4px 0 0 4px;
        }
        &__box{
            width: 480px;
            height: 358px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0 4px 4px 0;
        }
        &__text{
            font-weight: 700;
        }
    }
}

@include tab {
    .p-work-related{

        &__wrap{
            display: flex;
            justify-content: center;
        }
        &__img{
            width: 380px;
            border-radius: 4px 0 0 4px;
        }
        &__box{
            width: 340px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            text-align: center;
            border-radius: 0 4px 4px 0;
        }
        &__text{
            font-weight: 700;
        }
    }
}

@include sp {
    .p-work-related{
        &__img{
            border-radius: 4px 4px 0 0;
        }
        &__box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 0 0 4px 4px;
        }
        &__text{
            font-weight: 700;
        }
    }
}

