@use "../../global/import"as *;

@include pc {
    .p-webDesign{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 33px
        }
        &__item{
            width: calc(100% / 2 - 33px);
        }
    
    }
}

@include tab {
    .p-webDesign{
        &__wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 33px
        }
        &__item{
            width: calc(100% / 2 - 33px);
        }
    
    }
}





