@use "../../global/import"as *;

@include pc {
    .p-works{
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;

            &:last-child{
                margin-bottom: 0;
            }
        }
        &__img{
            width: 400px;
        }
        &__link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 300px;
            padding: 30px 50px;

            &--rikon{
                background-color: #feb9b9;
            }
            &--syohin{
                background-color: #E6E3DE;
            }

        }
    }
}








