@use "../../global/import"as *;

@include pc {
    .p-work-details{
        &__wrap{
            flex-direction: row;
            align-items: flex-start;
            display: flex;
        }
        &__top{
            padding: 180px 0 60px;
            background: #efefef;
        }
        &__mainVisual{
            width: 50%;
        }
        &__h1{
            text-transform: none;
            margin: 0 0 10px;
            padding-right: 20px;
            font-size: 64px;
            line-height: 80px;
            color: #D10C0C;
            font-weight: normal;
        }
        &__item{
            width: 45%;
        }
        &__img{
            border-radius: 4px;
        }
    }
}

@include tab {
    .p-work-details{
        &__wrap{
            flex-direction: row;
            align-items: flex-start;
            display: flex;
        }
        &__top{
            padding: 180px 0 60px;
            background: #efefef;
        }
        &__mainVisual{
            width: 50%;
        }
        &__h1{
            text-transform: none;
            margin: 0 0 10px;
            padding-right: 20px;
            font-size: 64px;
            line-height: 80px;
            color: #D10C0C;
            font-weight: normal;
        }
        &__item{
            width: 45%;
        }
        &__img{
            border-radius: 4px;
        }
    }
}

@include sp {
    .p-work-details{
        &__top{
            padding: 100px 0 30px;
            background: #efefef;
        }
        &__mainVisual{
            width: 100%;
            margin-bottom: 30px;
            border-radius: 4px;
        }
        &__h1{
            margin: 0 auto 20px;
            text-align: center;
            color: #D10C0C;
        }
        &__img{
            border-radius: 4px;
        }
    }
}




