@use "../../global/import"as *;

@include pc {
    .p-work-details{
        &__top{
            padding-top:110px;
        }
        &__mainVisual{
            width: 800px;
            margin: 0 auto 40px;
            border-radius: 10px;
        }
        &__h1{
            width: 800px;
            margin: 0 auto 20px;
            text-align: center;
        }
        &__wrap{
            display: flex;
            justify-content: center;
            gap: 0 30px;
        }
    }
}

@include tab {
    .p-work-details{
        &__top{
            padding-top: 130px;
        }
        &__mainVisual{
            width: 720px;
            margin: 0 auto;
            border-radius: 10px;
        }
        &__h1{
            width: 720px;
            margin: 0 auto 20px;
            text-align: center;
        }
    }
}

@include sp {
    .p-work-details{
        &__top{
            padding-top: 100px;
        }
        &__mainVisual{
            width: 100%;
            border-radius: 10px;
        }
        &__h1{
            width: 355px;
            margin: 0 auto 20px;
            text-align: center;
        }
    }
}




