@use "../../global/import"as *;

@include pc {
    .p-works{
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;

            &:last-child{
                margin-bottom: 0;
            }
            &--reverse{
                flex-direction: row-reverse;
            }
        }
        &__img{
            width: 595px;
            border-radius: 6px 0 0 6px;

            &--reverse{
                border-radius: 0 6px 6px 0
            }
        }
        &__link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px 0;
            width: 595px;
            height: 413px;
            padding: 30px 50px;
            border-radius: 0 6px 6px 0;

            &--reverse{
                border-radius: 6px 0 0 6px
            }

            &--rikon{
                background-color: #feb9b9;
            }
            &--syohin{
                background-color: #E6E3DE;
            }

        }
    }
}

@include tab {
    .p-works{
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;

            &:last-child{
                margin-bottom: 0;
            }
            &--reverse{
                flex-direction: row-reverse;
            }
        }
        &__img{
            width: 360px;
            border-radius: 6px 0 0 6px;

            &--reverse{
                border-radius: 0 6px 6px 0
            }
        }
        &__link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px 0;
            width: 360px;
            height: 250px;
            padding: 40px 50px;
            text-align: center;
            border-radius: 0 6px 6px 0;

            &--reverse{
                border-radius: 6px 0 0 6px
            }

            &--rikon{
                background-color: #feb9b9;
            }
            &--syohin{
                background-color: #E6E3DE;
            }

        }
    }
}

@include sp {
    .p-works{
        &__item{
            margin-bottom: 40px;

            &:last-child{
                margin-bottom: 0;
            }
            &--reverse{
                flex-direction: column;
            }
        }
        &__img{
            width: 100%;
            border-radius: 6px 6px 0 0;
        }
        &__link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px 0;
            width: 100%;
            padding: 20px 30px;
            text-align: center;
            border-radius: 0 0 6px 6px;

            &--rikon{
                background-color: #feb9b9;
            }
            &--syohin{
                background-color: #E6E3DE;
            }

        }
    }
}






