@use "../../global/import"as *;

@include pc {
    .p-works{
        &__wrap{
            display: flex;
            justify-content: space-between;
        }
        &__item{
            &:first-child{
                width: 50%;
            }
        }
        &__img {
            border-radius: 4px 0 0 4px;
            width: 700px;
        }
        &__text{
            font-size: 18px;
            font-weight: bold;
        }
        &__box{
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0 4px 4px 0;
        }
    }
}

@include tab {
    .p-works{
        &__wrap{
            display: flex;
            justify-content: space-between;
        }
        &__item{
            &:first-child{
                width: 50%;
            }
        }
        &__img {
            border-radius: 4px 0 0 4px;
            width: 700px;
        }
        &__text{
            font-size: 18px;
            font-weight: bold;
        }
        &__box{
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0 4px 4px 0;
        }
    }
}

@include sp {
    .p-works{
        &__wrap{
            display: flex;
            justify-content: space-between;
        }
        &__item{
            &:first-child{
                width: 50%;
            }
        }
        &__img {
            border-radius: 4px 0 0 4px;
            width: 700px;
        }
        &__text{
            font-size: 18px;
            font-weight: bold;
        }
        &__box{
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0 4px 4px 0;
        }
    }
}






