@use "../../global/import"as *;

@include pc {
    .p-work-details{
        &__top{
            padding: 110px 0 40px;
            background: #efefef;
        }
        &__mainVisual{
            width: 1000px;
            margin: 0 auto 40px;
            border-radius: 10px;
        }
        &__h1{
            width: 800px;
            margin: 0 auto 20px;
            text-align: center;
        }
        &__wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__link{
            &:hover{
                position: relative;
                top: 10px;
                opacity: 1;
                transition: all .5s;
                cursor: pointer;
                box-shadow: 3px 3px 30px #ccc;
            }
        }
        &__item{
            width: 50%;
        }
    }
}

@include tab {
    .p-work-details{
        &__top{
            padding: 110px 0 30px;
            background: #efefef;
        }
        &__mainVisual{
            width: 720px;
            margin: 0 auto 40px;
            border-radius: 10px;
        }
        &__h1{
            width: 720px;
            margin: 0 auto 20px;
            text-align: center;
        }
        &__wrap{
            display: flex;
            justify-content: center;
            gap: 0 30px;
        }
    }
}

@include sp {
    .p-work-details{
        &__top{
            padding: 100px 0 30px;
            background: #efefef;
        }
        &__mainVisual{
            width: 100%;
            margin-bottom: 30px;
            border-radius: 10px;
        }
        &__h1{
            margin: 0 auto 20px;
            text-align: center;
        }
    }
}




